body {
  font-family: sans-serif;
  background-color: #272625;
}
#cards {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  border-color: yellow;
}

img {
  margin: 1rem;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.logo img {
  width: 20%;
}

.search {
  display: flex;
  justify-content: center;
}

.search button {
  background-color: gray;
  border-radius: 15px;
  margin-left: 1rem;
  padding: 1rem;
}
