body {
  font-family: sans-serif;
  background-color: #272625;
  margin: 0%;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}

img {
  margin: 1rem;
}

.searchbar {
  float: none;
  display: block;
  color: black;
  padding: 12px 6px;
  text-decoration: none;
  font-size: 17px;
  width: 85%;
  text-align: center;
}

.searchbar h1 {
  float: left;
  margin: 0px;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    "sans-serif";
  color: gold;
  padding-left: 10px;
  max-width: 30%;
}

.searchbar .input {
  padding: 0.5rem;
  border-color: black;
  background-color: lightgray;
  float: none;
}

.searchbar button {
  background-color: gold;
  color: black;
  border-radius: 15px;
  margin-left: 1rem;
  padding: 0.5rem;
}

.searchbar button :hover {
  background-color: black;
}

#cards {
  padding-top: 20px;
}
